@charset"utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
}

body {
  background-image: linear-gradient(150deg, #000000, rgba(0,0,0,0.694));
  height: 100vh;
}

#loading {
  position: fixed;
  top: 0;
  left: -100000px;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.144);
  z-index: 3000;
  transition: 1.2s ease;
}

#loading .loading {
  position: relative;
  border: 2px solid #000000;
  border-radius: 8em;
  width: 30px;
  height: 30px;
  margin: 300px auto 0;
  animation: spiner .9s linear infinite;
}

#loading .loading .point {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  background: #000000;
  border-radius: 8em;
}

#labelNameUi {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

@keyframes spiner {

  100% {
    transform: rotate(360deg);
  }
}

.lds-spinner div {
  position: absolute;
  top: 5px;
  left: 5px;
  background: #000;
  border-radius: 8em;
  border: 2.5px solid #000;
}

#blur {
  width: 100%;
  height: 100vh;
  filter: blur(10px);
  z-index: 100;
  background-image: url('../img/background2.jpeg');
  background-size: cover;
  background-position: cover;
  background-repeat: repeat-x;
  opacity: .8;
}

h1 {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 120;
  background: -webkit-linear-gradient(20deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 60%;
  transition: 1.5s ease;
}

h1:after {
  content: "|";
  background: #ffffff;
  font-weight: 100;
  margin-left: 10px;
  animation: typing 1s infinite;
}


@keyframes typing {
  0% {
    opacity: .0;

  }
  50% {
    opacity: 1;

  }
  100% {
    opacity: .0;

  }
}

p {
  position: absolute;
  top: auto;
  bottom: 380px;
  left: 20px;
  z-index: 120;
  color: #ffffff;
  max-width: 80%;
  transition: 1s ease;
  text-align: justify;
}

#page {
  display: none;
}

#form_auth {
  position: absolute;
  top: auto;
  bottom: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  border-radius: 2em;
  width: 100%;
  display: grid;
  flex-wrap: wrap;
  grid-gap: 10px;
  grid-template-columns: 2fr;
  z-index: 100;
  background: #ffffff;
}

#form_auth input {
  width: calc(100% - 35px);
  border-radius: 8em;
  padding: 15px;
  padding-left: 20px;
  border: 0;
  outline: 0;
  background: #efefef;
}

#form_auth button {
  padding: 15px 10px 15px 10px;
  background: -webkit-linear-gradient(20deg, #9e0000, #00009e);
  color: #ffffff;
  font-weight: 700;
}

#form_auth label, button {
  border-radius: 8em;
  border: 0;
  padding: 3px;
  margin: 0px 20px 0px 20px;
}