* {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
}

body {
  font-size: 20px;
  font-family: sans-serif;
  background: #ffffff;
  color: #000000;
  padding: 20px;
  height: 100vh;
}

#alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  z-index: 10000;
  display: none;
  text-align: center;
}

#alert p {
  margin: 200px auto 0;
  width: 100%;
  text-align: center;
}

#timer {
  background: #41009e;
  border-radius: 8em;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
}

#questions {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: 100%;
  z-index: 120;
}

#titlePage {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
}

.question {
  font-weight: 400;
  text-align: justify;
  margin-bottom: 20px;
}

.answers {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 1em;
}

.answers label {
  display: block;
  background: rgb(243,243,243);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8em;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
}

.answers label input {
  margin-right: 10px;
}

.answers .evaluation {
  color: #000000;
}


#submit {
  background: #41009e;
  color: #ffffff;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 8em;
  width: 100%;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 40px;
}

#results {
  font-size: 13px;
}

#next {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #41009e;
  color: #ffffff;
  border: 0;
  border-radius: 8em;
  margin-left: 10px;
  margin-bottom: 40px;
}